<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-button [routerLink]="['/registration']" style="font-size: larger;">
            Regisztráció&nbsp;
        </a>
        <a mat-button [routerLink]="['/login']" style="font-size: larger;">
            Bejelentkezés&nbsp;
        </a>
      </mat-toolbar-row>
</mat-toolbar>

<mat-card class="introduction_card" color="accent">
    <h1><strong>Dr. Time</strong></h1>
    <h3>...mert az idő mindent begyógyít, de jobb szeretünk nem várni rá.</h3>        
</mat-card>

    <div>
      <mat-card>
          <mat-card-title>Pácienseknek</mat-card-title>
          <mat-card-content>
              <p>...egy könnyű és gyors időpontfoglaló oldal, ahol kedvükre válogathatnak orvosaink közül.</p>
          </mat-card-content>
      </mat-card>
    <mat-card>
        <mat-card-title>Doktoroknak</mat-card-title>
        <mat-card-content>
            <p>... egy jó felület időpontjaik észbentartásához.</p>
        </mat-card-content>
    </mat-card> 
    <mat-card>
        <strong>FOGLALJON IDŐPONTOT MOST! Az időpontfoglalás regisztrációhoz és belépéshez kötött folyamat.</strong>
    </mat-card> 
    </div>
    <div>
    
