<div class="login">
    <mat-card>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <h2>Bejelentkezés</h2>
    <mat-form-field>
    <mat-label for="email">Email: </mat-label><input matInput type="text" formControlName="email" /> 
</mat-form-field>
<mat-form-field>
    <mat-label for="password">Jelszó: </mat-label><input matInput type="password" formControlName="password" />
</mat-form-field>
<mat-slide-toggle [checked]="isSlideChecked" (change)="toggleChanges($event)">Doktor vagy?</mat-slide-toggle>
<span *ngIf="isSlideChecked">
<mat-form-field>
    <mat-label for="doctor_id">Doktor azonosító: </mat-label><input matInput type="text" formControlName="doctor_id"/>
</mat-form-field>
</span>
<span>
    <span><button mat-raised-button color="primary" type="submit">Bejelentkezés</button></span>
    <span><button mat-raised-button color="primary" [routerLink]="['/registration']">Regisztráció</button></span>
    <span><button mat-raised-button color="primary" [routerLink]="['/starter']">Vissza a főoldalra</button></span>
</span>
</form>
</mat-card>
</div>
