<div class="centering">
<mat-card class="centering">
    <div *ngIf="appointments.length">
        <table mat-table [dataSource]="appointments">
            <ng-container matColumnDef="doctor_id">
                <th mat-header-cell *matHeaderCellDef> Doktor </th>
                <td mat-cell *matCellDef="let appointment"> {{appointment.doctor_id}} </td>
            </ng-container>
            <ng-container matColumnDef="user_id">
                <th mat-header-cell *matHeaderCellDef> Páciens </th>
                <td mat-cell *matCellDef="let appointment"> {{appointment.user_id}} </td>
            </ng-container>
            <ng-container matColumnDef="appointment">
                <th mat-header-cell *matHeaderCellDef> Időpont </th>
                <td mat-cell *matCellDef="let appointment"> {{appointment.appointment.toDate() | date: 'YYYY-MM-dd HH:mm'}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let appointment"> 
                    <button mat-button (click)="delete(appointment.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-button (click)="openDialog(appointment)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
              </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
    <div class="message" *ngIf="!appointments.length" >
        <h2>Nincs jelenleg lefoglalt időpont...</h2>
    </div>
    </mat-card>
</div>
